font-family: 'Lobster', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Boogaloo', cursive;
font-family: 'Luckiest Guy', cursive;
font-family: 'Bevan', cursive;

.sm {
  font-size: 8px;
  text-align: center;
}

.main .logo {
  font-family: Luckiest Guy;
  color: #AACCDD;
}

.motto ul li{
  list-style-type: none;
  display: inline-block;
  padding: 5px 0px;
  vertical-align: middle;
  color: #AACCDD;
}

.motto ul li:hover{
  cursor: pointer;
}

.motto ul li:after{
  content: " \00b7" ;
}
.motto ul li:last-child:after{
  content: none;
}

.motto ul li span {
  font-family: bevan;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
}

#tech:hover{
  background-color: rgba(238,221,102, .7);
  color: black;
}

#data:hover{
  color: #FF6633;
}

@keyframes type{
    from { width: 0; }
}

@moz-keyframes type{
    from { width: 0; }
}

@-webkit-keyframes type{
    from { width: 0; }
}

#writer{
  width: 30em;
  white-space:nowrap;
  overflow:hidden;
  -webkit-animation: type 5s steps(50, end);
  -moz-animation: type 5s steps(50, end); 
  animation: type 5s steps(50, end);
}



/*@keyframes type2{
  0%{width: 0;}
  50%{width: 0;}
  100%{ width: 100; } 
} 

@keyframes blink{
  to{opacity: .0;}
}*/

#nerd:hover{
  font-style: italic;
}

#maker:hover{
  text-decoration: underline;
}