.sm {
  font-size: 8px;
  text-align: center;
}

.motto ul li{
  list-style-type: none;
  display: inline;
  vertical-align: middle;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
}
.motto ul li:hover{
  cursor: pointer;
}

.motto ul li:after{
  content: " \00b7" ;
}
.motto ul li:last-child:after{
  content: none;
}

#tech{

}
#tech:hover{
  color: blue;
}

#data:hover{
  font-style: italic;
}

#writer:hover{

}

#nerd:hover{

}

#maker:hover{

}